body{
	background-color: #2B4B6F;
	width: 480px;
}

.row {
	width: 480px;
	display:inline-block;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	float:left;
	padding: 5px;
}
/* flip the pane*/
.flip .flipper, .flip .flipper {
		transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 150px;
	height: 150px;
}

/* flip speed goes here */
.flipper {
	
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	/*border: 1px solid ;*/
	background-color: #133253;
	-moz-border-radius: 15px;
	border-radius: 15px;


	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background-color: #4B698B;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}